*
{
    padding: 0px;
    margin: 0px;
}
header{
background-image: url(showing-good-results-group-young-freelancers-office-have-conversation-smiling.jpg);
background-size: cover;
height: 1100px;
background-blend-mode: darken;
background-repeat: no-repeat;
}
.top
{
    display: flex;
    /* justify-content: space-around; */
    border-block-end: 2px solid white;
  
}
.top h6{
    font-size: 20px;
    color: white;
    margin-left: 60px;
    margin-top: 12px;
}
.icon
{
    margin-left: 41%;
    font-size: 40px;
}
.icon:hover
{
    cursor: pointer;
  color: blue;
}
nav{
    display: flex;
   /* border: 2px solid black; */
    color: white;
margin-top: 55px
}
.logo
{
    padding-left: 45px;
    font-weight: 600;
    font-size: 27px;
    margin-left: 40px;
    font-family: "Noto Sans Buhid", sans-serif;
    font-weight: 600;
    font-style: normal;
}
ul{
    display: flex;
    /* margin-left: 80px; */
    padding-left: 643px;
    padding-top: 4px;
}
li
{
    list-style: none;
    padding-left: 14px;
    font-weight: 400;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;  
}
li:hover{
    cursor: pointer;
    color: blue;
}
.pur{
    margin-left: 30px;
    border-radius: 8px;
    font-size: 23px;
    font-weight: 400;
    background-color: blue;
    color: white;
    border: none;
    padding: 12px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;  
}
.pur:hover{
    cursor: pointer;
    background-color: rgb(86, 86, 253);   
}
.h
{
    /* border: 2px solid black; */
    height: 200px;
    width: 900px;
    margin-top: 97px;
    margin-left: 356px;
    color: white;
}
.h h3{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 25px;
}
.h h2{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 75px;
}
.ic{
    display: flex;
    margin-top:265px;
    margin-left: 50px;
    /* border: 2px solid black; */
    width: 1390px;
    height: 315px;
    justify-content: space-between;
    
}
.call{
    /* border: 1px solid black; */
    height: 200px;
    width: 300px;
}
.blck
{
    border: 2px solid blue;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    text-align: center;
}
.e
{
    font-size: 30px;
    margin-top: 10px;
}
.ic h5
{    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    color: white;
    padding-left: 20px;
}
.ic p{
    color: white;
  font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    padding-left: 20px;
}
.snow
{
    font-size: 30px;
    margin-top: 10px;  
}
.baby
{
    font-size: 30px;
    margin-top: 10px;   
}
.comp
{
    height: 600px;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
}
.goal
{
    height: 400px;
    width: 730px;
    /* border: 2px solid blue; */
    margin-left: 50px;
    margin-top: 100px;
}
.insta
{
    border-radius: 10px;
    margin-top: 70px;
    margin-left: 30px;
}
.comp h4{
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 49px;
}
.comp p{
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: rgb(98, 98, 98);
}
.num
{
    display: flex;
    height:300px ;
    width: 400px; 
    /* border: 1px solid blue; */
    margin-left: 40px;
    justify-content: space-between;
}
.twe
{
    height: 200px;
    width: 300px;
    /* border: 2px solid rgb(255, 0, 64); */
    margin-left: 110px;
    margin-top: 50px;
}
.twe p
{
    font-family: "Merriweather", serif;
    font-weight: 200;
    font-style: normal;
    font-size: 50px;
    color: blue;   
}
.twe h6{
    font-family: "Merriweather", serif;
    font-weight: 350;
    font-style: normal;
    font-size: 20px;
    color: black;
}
.fle
{
    height: 500px;
    width: 100%;
    /* border: 1px solid black; */
    display: flex; 
}
.rig
{
    height: 400px;
    width: 730px;
    /* border: 2px solid blue; */
    margin-left: 45px;
    margin-top: 30px;
}
.purs
{
    margin-left: 90px;
    border-radius: 10px;
    font-size: 23px;
    font-weight: 400;
    background-color: blue;
    color: white;
    border: none;
    padding: 15px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    width: 90px;
}
.purs h6{
    padding-left: 8px;
}
.purs:hover{
    cursor: pointer;
    background-color: rgb(86, 86, 253);   
    
}
.per
{
 border-radius: 15px;
    margin-top: 0px;
    margin-left: 20px;
}
.rig h4{
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 49px;
}
.rig p{
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: rgb(98, 98, 98);
}
.compliment
{
    height: 100px;
    width: 1100px;
    /* border: 2px solid black; */
    margin-left: 70px;
    margin-top: 40px;
}
.compliment h5{
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 22px;
    margin-left: 510px;
    color: blue;
}
.compliment h3{
    font-family: "Merriweather", serif;
    font-weight: 200;
    font-style: normal;
    font-size: 60px;
    margin-left: 335px;
}
.big
{
    display: flex;
    margin-top:210px;
    margin-left: 50px;
    /* border: 2px solid black; */
    width: 1400px;
    height: 400px;
    justify-content: space-between;
}
.paint
{
    border: 1px solid #4896ef5f;
    height: 400px;
    width: 330px;  
    margin-left: 2px;
}
.rr
{
    font-size: 45px;
    margin-left: 40px;
    margin-top: 100px;

}
.paint h5{
    font-family: "Roboto", sans-serif;
    font-weight: 450;
    font-style: normal;
    font-size: 23px;
    padding-left: 31px;

}
.paint p{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  padding-left: 28px;
  color: rgb(98, 98, 98);
}
.vid
{
    margin-top:160px;
    /* border: 2px solid black; */
    width: 100%;
    height: 700px; 
}
.vi{
    position: relative;
}
.cen{
    height: 300px;
    width: 700px;
    margin-top: -519px;
    margin-left: 610px;
    color: white;
    position: absolute;
    /* border: 1px solid black; */
}
.yy
{
    font-size: 65px;
    margin-left: 105px  
  
}
.cen h4{
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 47px;
    margin-left: -34px;
}
.cen h3{
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 45px;
    margin-left: 20px;
}
.cen p{
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
    margin-left: 44px;
}
.bigg
{
    display: flex;
    margin-top:210px;
  
    /* border: 2px solid black; */
    width: 100%;
    height: 700px;
    justify-content: space-between;
}
.first{
    height: 500px;
    width: 300px; 
    /* border: 2px solid rgb(255, 9, 9); */
}
.first h4{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  font-size: 40px;
  margin-top: 80px;
}
.first p{
  
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
   color: rgb(98, 98, 98); 
}
.first h2
{
    font-size: 40px;
    color: blue;
    font-size: 55px;
    font-weight: 500;
    color: blue;
}
.first p{
  
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
   color: rgb(98, 98, 98); 
    margin-left: 0px;
}
.firstt
{
    height: 700px;
    width: 500px; 
    /* border: 2px solid rgb(181, 255, 9);  */
    background-color: gainsboro;
    border-radius: 20px;
}
.firstt h4
{
    font-size: 40px;
    font-size: 55px;
    font-weight: 500;
    margin-left: 45px;
    margin-top: 5px;
}
.firstt h2
{
    font-size: 40px;
    color: blue;
    font-size: 55px;
    font-weight: 500;
    margin-left: 45px;
}
.firstt p{
  
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
   color: black;
    margin-left: 45px;
}
.lor
{
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
   color: rgb(98, 98, 98); 
    margin-left: 45px;
}
.firsttt
{
    height: 700px;
    width: 500px; 
    border: 2px solid blue; 
    background-color: gainsboro;
    border-radius: 20px;
}

.firsttt h4
{
    font-size: 40px;
    font-size: 55px;
    font-weight: 500;
    margin-left: 45px;
    margin-top: 5px;
}
.firsttt h2
{
    font-size: 40px;
    color: blue;
    font-size: 55px;
    font-weight: 500;
    margin-left: 45px;
}
.firsttt p{
  
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
   color: black;
    margin-left: 45px;
}
.pursss
{
    margin-left: 90px;
    border-radius: 10px;
    font-size: 23px;
    font-weight: 400;
    border: 2px solid blue;
    padding: 15px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    width: 110px;
}
.pursss h6{
    padding-left: 8px;
}
.purssss
{
    color: white;
    background-color: blue;
    margin-left: 90px;
    border-radius: 10px;
    font-size: 23px;
    font-weight: 400;
    border: 2px solid blue;
    padding: 15px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    width: 110px;
}
.purssss h6{
    padding-left: 8px;
}
.pic
{
    
    background-image: url(people-with-laptops-office.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
    position: relative;
    background-blend-mode: darken;
}
.cont
{    height: 600px;
    width: 1100px;
    /* border: 2px solid black; */
    margin-top: 440px;
    margin-left: 90px;
    position: absolute;
}
.cont p{
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 470px;
    color: rgb(132 0 255);
    font-size: 24px;
}
.cont h5{
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 45px;
    color: white;
    margin-left: 335px;
    margin-top: 10px;
}
.pursssss
{
    color: white;
    margin-left: 553px;
    border-radius: 10px;
    font-size: 23px;
    font-weight: 400;
    border: 2px solid blue;
    padding: 18px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    width: 155px;
    margin-top: 85px;
    height: 30px;
}
.pursssss h6{
    padding-left: 16px;
    padding-top: 4px;
    font-size: 20px;
}
.pursssss:hover
{
    cursor: pointer;
    color: white;
    background-color: rgb(183, 118, 245);
}
.cc
{
    font-size: 20px;
    margin-right: 5px;
}
.down
{   border-block-end: 2px solid white;
    height: 400px;
    width: 98%;
    margin-left: 10px;
    background-color: #181717;
    color: white;
    display: flex;
    justify-content: space-between;
}
.jev
{
    height: 500px;
    width: 400px;
    /* border: 1px solid blue; */
    margin-top: 70px;
    margin-left: 20px;
}
.jev h2{
    padding-left: 29px;
    font-weight: 600;
    font-size: 30px;
    margin-left: 40px;
    font-family: "Noto Sans Buhid", sans-serif;
    font-weight: 900;
    font-style: normal;
}
.jev p{
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}
.ii
{
    font-size: 30px;
}
.ii:hover
{
    cursor: pointer;
}
.kk
{
    font-size:  30px;
    padding-left: 10px;
}
.kk:hover{
    cursor: pointer;
}
.mm
{
    font-size: 30px;
    padding-left: 10px;
}
.mm:hover{
    cursor: pointer;
}
.jevv
{
    height: 500px;
    width: 200px;
    /* border: 1px solid blue; */
    margin-top: 90px;
    margin-left: 20px;
}
.jevv p{
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: rgb(98,98,98);
    line-height: 2;
}.jevv p:hover{
    cursor: pointer;
    color:blueviolet;
}
.jevv h6{
    color: white;
    font-family: "Merriweather", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 22px;
}
.end
{
    background-color: #181717;
    width: 98%;
    margin-left: 10px;
    height: 194px;
    display: flex;
    color: white;
}
.en{
    width: 98%;
    height: 60px;
    margin-top: 81px;
    padding-left: 100px;
    display: flex;
}
.en p{
    margin-top: 20px;
 
}
.en ul
{
        display: flex;
        /* margin-left: 80px; */
        padding-left: 600px;
        padding-top: 4px;
}
.en li {
    list-style: none;
    padding-left: 10px;
    font-weight: 400;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}
@media only screen and (max-width:350px)
{
    
}